<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DownloadImage</servlet-name>
        <servlet-class>Operations.DownloadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadImage</servlet-name>
        <url-pattern>/DownloadImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Load Images</description>
        <param-name>Directory</param-name>
        <param-value>C:\Users\Ambikeya\Messenger\assets\Profiles</param-value>
    </context-param>
</web-app>
